.modal-atoms{
  .ant-modal-content{
    padding: 40px 48px;
    .ant-modal-header{
      margin-bottom: 40px;
      .ant-modal-title {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
      }

    }
  }
}